@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$font-stack: (
  'monserrat': 'Montserrat',
  'sansserif': sans-serif,
  'inter': 'Inter',
);

$colors: (
  'black': #14161a,
  'white': #ffffff,
  'main': #28a5e9,
  'font': #3d4852,
  'nav': #fafafa,
  'navborder': #fbfbfb,
  'nav-font': #606f7b,
  'hero-font': #111827,
  'sky': #87ceeb,
  'line': #e5e7eb,
  'green': #3cd070,
  'red': #ff6347,
  'gold': #f59e0c,
);

//vh vw
$size: (
  'max-width': 100vw,
  'nav-height': 8rem,
);

//media queries
$breakpoints: (
  'sm': 670px,
  'md': 768px,
  'test': 1000px,
  'l': 948px,
  'xl': 1040px,
);

@mixin wideScreen() {
  @media screen and (min-width: map-get($breakpoints, 'xl')) {
    @content;
  }
}

@mixin largerthanphone() {
  @media screen and (min-width: map-get($breakpoints, 'md')) {
    @content;
  }
}

@mixin test() {
  @media screen and (min-width: map-get($breakpoints, 'sm')) {
    @content;
  }
}
@mixin tabletMedia() {
  @media screen and (min-width: map-get($breakpoints, 'md')) {
    @content;
  }
}
