@use './variables' as mixin;

.section {
  max-width: map-get(mixin.$size, 'max-width');
  min-height: calc(100vh - map-get(mixin.$size, 'nav-height'));
  position: relative;
}

.container {
  border: solid lighten(map-get(mixin.$colors, 'nav-font'), 50%) 2px;
  border-radius: 0.5rem;
  width: 20rem;
  height: 22rem;
  position: absolute;
  inset: 0;
  margin: 4rem auto;
}

.container h1 {
  padding-top: 1.5rem;
  padding-left: 1rem;
}

.container ul {
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  list-style-type: none;
  min-height: 15rem;
}

.container li {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.container input {
  width: 100%;
  background-color: lighten(map-get(mixin.$colors, 'nav-font'), 60%);
  padding: 0.8rem 1rem;
  border: 2px solid lighten(map-get(mixin.$colors, 'nav-font'), 50%);
  margin: 8px 0;
  border-radius: 4px;
}

.container input:focus {
  outline: none;
  border-color: map-get(mixin.$colors, 'main');
  background-color: map-get(mixin.$colors, 'white');
}
